agm-map {
    height: 100%;
}

.fixed-lock {
    position: absolute;
    top: 5rem;
    left: 1rem;
    max-width: 20rem;
}
@media only screen and (max-width: 600px) {
    .fixed-lock {
        position: sticky;
        left: 0;
        bottom: 0 !important;

        width: 50%;
    }
    .titletop{
        display: none;
    }
  }

.fixed-button {
    position: absolute;
    bottom: 1rem;
    right: 3.5rem;
}
