<!--<iframe src="https://www.google.com/maps/d/embed?mid=1jUniTBetpMPGB_ArI5E06xoGlGABg4v3" allowfullscreen class="h-100 w-100 border-0"></iframe>-->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
            <p><strong>Name:</strong> {{m.name}}
                <br>
                <strong>Country:</strong> {{m.country}}
                <br>
                <strong>City:</strong> {{m.city}}
                <br>
                <strong>Intro:</strong> {{m.intro}}
            </p>
        </agm-info-window>

    </agm-marker>

    <!--
    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
    </agm-circle>
-->
</agm-map>

<div class="fixed-lock">
    <div class="card text-dark bg-light">
        <div class="m-4 titletop">
                <h4 class="card-title">Add Yourself To The Map</h4>
                <small>Fill the following and click on your location on the map!</small>
        </div>

        <div class="card-body ui-fluid">

            <input type="text" pInputText [(ngModel)]="name" class="w-100 mb-2" placeholder="Name">
            <div class="mb-2">
                    <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" [size]="30"
                    [minLength]="1" [dropdown]="true" field="name" placeholder="Country">
                    <ng-template let-country pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <img src="../../assets/countries/{{country.name.toLowerCase()}}.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <!--
            <div class="mb-2">
                    <p-autoComplete [(ngModel)]="city" [suggestions]="filteredCitiesSingle" (completeMethod)="filterCitySingle($event)" field="name" [size]="30"
                    placeholder="City" [minLength]="1"></p-autoComplete>
            </div>
            -->
            <input type="text" pInputText [(ngModel)]="city" class="w-100 mb-2" placeholder="City">
            <textarea pInputTextarea [(ngModel)]="intro" placeholder="Introduction"></textarea>
        </div>
    </div>
</div>

<button type="submit" name="" id="add" class="btn btn-primary btn-lg fixed-button" btn-lg btn-block (click)="addMarker()">Add Me!</button>