agm-map {
    height: 100%;
}

.fixed-lock {
    position: absolute;
    top: 5rem;
    left: 1rem;
    max-width: 20rem;
}
@media only screen and (max-width: 600px) {
    .fixed-lock {
        position: sticky;
        left: 0;
        bottom: 0 !important;

        width: 50%;
    }
    .titletop{
        display: none;
    }
    .fixed-button {
        position: fixed;
        bottom: 0.5rem;
        right: 3.5rem;
    }    
    
    #intro{
        max-height: 5em;
        height: 5em !important;
    }
  }
  @media only screen and (max-height: 600px) {

    .fixed-button {
        position: fixed;
        bottom: 0.5rem;
        right: 3.5rem;
    }    
    

  }

#intro{
    max-height: 15em;
    height: 10em;
}